nav li a {
    cursor: pointer;
}
.next-prev-icon{
background-color: #eb7d7d91;
border-radius: 50%;
}
#featured-section{
    margin: 50px 0 100px 0;
}
.star{
    display: flex;
    justify-content: center;
}
.star img{
    width: 20px;
    margin: 2px;
}
#faq-section{
    margin: 100px 0;
}
#footer-ul li{
    list-style: none;
    margin-bottom: 10px;
}
#footer-ul li a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}
.download-app{
    display: flex;
    flex-direction: column;
}
.download-app img{
    width: 150px;
}
#footer-section .col:last-child{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media screen and (max-width:576px){
    #footer-section .col:last-child{
        align-items: flex-start;
    }
}